fastapi==0.111.0
uvicorn[standard]==0.30.0

# HuggingFace
transformers==4.42.4
huggingface-hub==0.23.2

# Torch CPU only
torch==2.3.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# GLiNER
gliner==0.2.4

# Utils
wordfreq==3.1.1
pydantic==2.8.2
